* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow: hidden;
}
main {
    background-image: url(./images/background.png);
    width: 800px;
    height: 500px;
    overflow: hidden;
    cursor: none;
}
.knife{ 
    width: 150px;
    visibility: hidden;
    position: absolute;
}
.fruit-wrapper {
    position: absolute;
    display: flex;
    width: 60px;
}
.half{
    width: 50%;
}